$light-primary-color: #FAFBF2;
$primary-100: #E4f8e0;
$primary-200: #C9EFC3;
$primary-300: #A0E095;
$primary-400: #6EC95F;
$primary-color: #43A034;
$primary-600: #38BF2A;
$primary-700: #2E7124;
$primary-800: #285A21;
$primary-900: #224A1D;
$dark-primary-color: #0E280B;

$light-secondary-color: #FAFAEB;
$secondary-100: #F3F2D4;
$secondary-200: #EBEBAD;
$secondary-300: #DBD97D;
$secondary-400: #C4C754;
$secondary-color: #9DA133;
$secondary-600: #828828;
$secondary-700: #646922;
$secondary-800: #505420;
$secondary-900: #44481F;
$dark-secondary-color: #24270C;