.container_login {
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin: 0 auto; /* This will center the div horizontally */
}

.section_login {
  background-color: white;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  width: 100%;
}

.input_login, .select_login {
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; /* Added margin-bottom to create space between elements */
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: 0 0 0 3px rgba(233, 233, 233, 0.5);
  border-color: black;
  font-size: 0.875rem;
}

.button_login {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button_login:hover {
  color: black;
  background-color: white;
  border-color: black;
}
.button_login:focus,
.button_login:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
