@import "../../responsive.scss";

nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    a{
        transition: all 0.2s ease;

        @include small{
            display: none;
        }

        &:hover{
            scale: 1.05;
        }
    }

    .left{
        flex:3;
        display: flex;
        align-items: center;
        gap: 50px;
        //background-color: rgb(236, 241, 234);
        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width: 50px;
                height: 50px;
            }

            span{
                @include medium{
                    display: none;
                }
                @include small{
                    display: initial;
                }
            }
        }
    }
    .right{
        flex:2;
        //background-color: rgb(248, 248, 245);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        height: 100%;

        span{
            @include small{
                display: none;
            }
        }

        a{
            padding: 12px 24px;
            margin: 10px;
        }
        .register-store{
            background-color: rgb(29, 221, 29);
        }
        .register-customer{
            background-color: rgb(29, 221, 29);
        }
    }

}