body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  margin: 0; /* Elimina márgenes por defecto */
}

.leaflet-container{
  width: 50vw;
  height: 50vh;
}